.header {
  position: relative;
  overflow: hidden;
  height: 94vh;
}

.background {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*Deployda path hatali durdugu icin image gozukmuyor. Bu yuzden jsx icerisinde image url tanimlandi.*/
  /*background-image: url("../../assets/class.webp");*/
  background-size: cover;
  background-position: center top;
  transition: transform 0.5s ease-in-out;
  transform: scale(var(--scale));
  z-index: -5;
}

.opacitybg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: -4;
}
